# 版本控制
.git
.gitignore

# 依赖目录
node_modules
npm-debug.log

# 构建输出
dist
build

# 开发环境文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 编辑器配置
.idea
.vscode
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# Docker相关
Dockerfile
.dockerignore
docker-compose.yml

# 其他
README.md
LICENSE
*.log
